<ng-container [ngSwitch]="appService.selectedMenu">

    <section *ngSwitchCase="'home'">
        <h1>Home</h1>
        <p>
            Nam quibusdam, quos audio sapientes habitos in Graecia, placuisse opinor mirabilia quaedam (sed nihil est quod illi non persequantur
            argutiis): partim fugiendas esse nimias amicitias, ne necesse sit unum sollicitum esse pro pluribus; satis superque
            esse sibi suarum cuique rerum, alienis nimis implicari molestum esse; commodissimum esse quam laxissimas habenas
            habere amicitiae, quas vel adducas, cum velis, vel remittas; caput enim esse ad beate vivendum securitatem, qua
            frui non possit animus, si tamquam parturiat unus pro pluribus.
        </p>
    </section>
    <section *ngSwitchCase="'skills'">
        <h1>Skills</h1>
        <p>
            Constituendi autem sunt qui sint in amicitia fines et quasi termini diligendi. De quibus tres video sententias ferri, quarum
            nullam probo, unam, ut eodem modo erga amicum adfecti simus, quo erga nosmet ipsos, alteram, ut nostra in amicos
            benevolentia illorum erga nos benevolentiae pariter aequaliterque respondeat, tertiam, ut, quanti quisque se
            ipse facit, tanti fiat ab amicis. Nam quibusdam, quos audio sapientes habitos in Graecia, placuisse opinor mirabilia
            quaedam (sed nihil est quod illi non persequantur argutiis): partim fugiendas esse nimias amicitias, ne necesse
            sit unum sollicitum esse pro pluribus; satis superque esse sibi suarum cuique rerum, alienis nimis implicari
            molestum esse; commodissimum esse quam laxissimas habenas habere amicitiae, quas vel adducas, cum velis, vel
            remittas; caput enim esse ad beate vivendum securitatem, qua frui non possit animus, si tamquam parturiat unus
            pro pluribus.
        </p>
    </section>
    <section *ngSwitchCase="'experiences'">
        <h1>Experinces</h1>
        <p>
            Auxerunt haec vulgi sordidioris audaciam, quod cum ingravesceret penuria commeatuum, famis et furoris inpulsu Eubuli cuiusdam
            inter suos clari domum ambitiosam ignibus subditis inflammavit rectoremque ut sibi iudicio imperiali addictum
            calcibus incessens et pugnis conculcans seminecem laniatu miserando discerpsit. post cuius lacrimosum interitum
            in unius exitio quisque imaginem periculi sui considerans documento recenti similia formidabat. Nam quibusdam,
            quos audio sapientes habitos in Graecia, placuisse opinor mirabilia quaedam (sed nihil est quod illi non persequantur
            argutiis): partim fugiendas esse nimias amicitias, ne necesse sit unum sollicitum esse pro pluribus; satis superque
            esse sibi suarum cuique rerum, alienis nimis implicari molestum esse; commodissimum esse quam laxissimas habenas
            habere amicitiae, quas vel adducas, cum velis, vel remittas; caput enim esse ad beate vivendum securitatem, qua
            frui non possit animus, si tamquam parturiat unus pro pluribus.
        </p>
    </section>
    <section *ngSwitchCase="'contact'">
        <h1>Contacts</h1>
        <p>
            Nam quibusdam, quos audio sapientes habitos in Graecia, placuisse opinor mirabilia quaedam (sed nihil est quod illi non persequantur
            argutiis): partim fugiendas esse nimias amicitias, ne necesse sit unum sollicitum esse pro pluribus; satis superque
            esse sibi suarum cuique rerum, alienis nimis implicari molestum esse; commodissimum esse quam laxissimas habenas
            habere amicitiae, quas vel adducas, cum velis, vel remittas; caput enim esse ad beate vivendum securitatem, qua
            frui non possit animus, si tamquam parturiat unus pro pluribus.
        </p>
    </section>
    <section *ngSwitchCase="'Legal Notice'">
        <h1>Legal Notice</h1>
        <p>
            Nam quibusdam, quos audio sapientes habitos in Graecia, placuisse opinor mirabilia quaedam (sed nihil est quod illi non persequantur
            argutiis): partim fugiendas esse nimias amicitias, ne necesse sit unum sollicitum esse pro pluribus; satis superque
            esse sibi suarum cuique rerum, alienis nimis implicari molestum esse; commodissimum esse quam laxissimas habenas
            habere amicitiae, quas vel adducas, cum velis, vel remittas; caput enim esse ad beate vivendum securitatem, qua
            frui non possit animus, si tamquam parturiat unus pro pluribus.
        </p>
    </section>
    <section *ngSwitchCase="'Credits'">
        <h1>Credits</h1>
        <p>
            Nam quibusdam, quos audio sapientes habitos in Graecia, placuisse opinor mirabilia quaedam (sed nihil est quod illi non persequantur
            argutiis): partim fugiendas esse nimias amicitias, ne necesse sit unum sollicitum esse pro pluribus; satis superque
            esse sibi suarum cuique rerum, alienis nimis implicari molestum esse; commodissimum esse quam laxissimas habenas
            habere amicitiae, quas vel adducas, cum velis, vel remittas; caput enim esse ad beate vivendum securitatem, qua
            frui non possit animus, si tamquam parturiat unus pro pluribus.
        </p>
    </section>
    <section *ngSwitchCase="'todo'">
        <h1>Todo</h1>
        <app-add></app-add>
        <app-list></app-list>      
    </section>

</ng-container>